{% extends "main/base.html" %}
{% block contentTitle %} Lista uczniów w klasie {% endblock %}
{% block customStyles %}
    #klasy {
        border-right: 6px solid #e74c3c;
    }
{% endblock %}
{% block content %}
  <div id="alert"></div>
  {% if uczniowie %}
    <h3>Uczniów w klasie: {{ uczniowie|length }}</h3>
    <table class="table">
        <tr>
          <th>Numer</th>
          <th>Imie</th>
          <th>Nazwisko</th>
        </tr>
      {% for uczen in uczniowie %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ uczen.imie }}</td>
          <td>{{ uczen.nazwisko }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h3>Brak uczniów do wyświetlenia</h3>
  {% endif %}
{% endblock %}
