{% extends "main/base.html" %}
{% load static %}
{% block title %} Szczegóły sprawdzianu {% endblock %}

{% block content %}

    {% if test %}
        <span>ID: </span> <strong>{{test.id}}</strong> <br>
        <span>Temat: </span><strong>{{test.temat}}</strong> <br>
        <span>Przedmiot: </span> <strong>{{test.przedmiot}}</strong> <br>
        <span>Ilość zadań: </span><strong>{{test.ilosc_zadan}}</strong> <br>
        <span>Maksymalna ilość punktów: </span><strong>{{test.maks_ilosc_punktow}}</strong> <br>
        <span>Dodano: </span> <strong>{{test.data_dodania}}</strong> <br>
        <span>Edytowano: </span> <strong>{{test.data_edytowania}}</strong> <br>
    {% else %}
        <h2>Nie znaleziono</h2>
    {% endif %}

{% endblock %}
