{% extends "main/base.html" %}
{% block contentTitle %} Lista wszystkich dodanych testów {% endblock %}
{% block customStyles %}
    #testy {
        border-right: 6px solid #e74c3c;
    }
{% endblock %}
{% block content %}
  <div id="alert"></div>
  {% if testy %}
    <h3>Znaleziono {{ iloscTestow }} test/y</h3>
    <table class="table">
        <tr>
          <th>ID w bazie</th>
          <th>Przedmiot</th>
          <th>Temat</th>
          <th>Ilość zadań</th>
          <th>Maksymalna ilość punktów</th>
          <th>Data dodania</th>
          <th>Data edytowania</th>
          <th>Działania</th>
        </tr>
      {% for test in testy %}
        <tr>
          <td><abbr title="Forllop counter">FC</abbr> {{ forloop.counter }} <abbr title="ID w bazie">B</abbr> {{ test.id }}</td>
          <td>{{ test.przedmiot }}</td>
          <td>{{ test.temat }}</td>
          <td>{{ test.ilosc_zadan }}</td>
          <td>{{ test.maks_ilosc_punktow }}</td>
          <td>{{ test.data_dodania|date:"d.m.Y" }}</td>
          <td>{{ test.data_edytowania|date:"d.m.Y" }}</td>
          <td>
            <a role="button" href="{% url 'main:test_szczegoly' id=test.id %}" class="btn btn-info">Szczegóły</a>
            <a role="button" href="{% url 'main:test_edytuj' id=test.id %}" class="btn btn-success">Edytuj</a>
            <a role="button" href="{% url 'main:test_usun' id=test.id %}" class="btn btn-danger btn-delete" data-ajax-role="deleteTest">Usuń</a>
            <a role="button" href="{% url 'main:sprawdzian_dodaj' test_id=test.id %}" class="btn btn-warning">Utwórz sprawdzian</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% if testy.paginator.num_pages > 1 %}
    <div aria-label="Page navigation example">
      <ul class="pagination pagination-lg">

        {% if testy.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?strona=1{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Pierwsza Strona">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <span class="sr-only">Pierwsza</span>
            </a>`
          </li>
          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.previous_page_number }}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Poprzednia Strona">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak wcześniejszych stron">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <span class="sr-only">Pierwsza</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak wcześniejszych stron">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
        {% endif %}

        {% for page in testy.paginator.page_range %}
          {% if page|add:0 == request.GET.strona|add:0 %}
            <li class="page-item active"><a class="page-link" href="?strona={{page}}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie}}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}">{{page}}</a></li>
          {% elif page|add:0 == 1 and not request.GET.strona %}
            <li class="page-item active"><a class="page-link" href="?strona=1{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie}}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}">{{page}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?strona={{page}}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie}}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}">{{page}}</a></li>
          {% endif %}

        {% endfor %}

        {% if testy.has_next %}
          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.next_page_number }}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Następna Strona">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Następna</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.paginator.num_pages }}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Ostatnia Strona">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span class="sr-only">Ostatnia</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak dalszej strony">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>

          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak dalszej strony">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>

    {% endif %}
    <form class="form-inline" method="GET" action="{% url 'main:test_lista' %}">

        {% if request.GET.strona %}
        <input type="hidden" name="strona" value="{{ request.GET.strona|add:0 }}">
        {% endif %}

        <label for="selectCount">Ilość testów na stronę</label>
        <select class="custom-select form-control-lg" name="ilosc" id="selectCount">
          <option selected value="10">Wybierz ilość testów na strone...</option>
          <option {% if request.GET.ilosc|add:0 == 5 %} selected {% endif %} value="5">5</option>
          <option {% if request.GET.ilosc|add:0 == 10 %} selected {% endif %} value="10">10</option>
          <option {% if request.GET.ilosc|add:0 == 20 %} selected {% endif %} value="20">20</option>
        </select>

        <label for="sortBy">Sortuj</label>
        <select class="custom-select form-control-lg" name="sortowanie" id="sortBy">
          <option value="-data_dodania">Wybierz opcje sortowania...</option>
          {% for method in sortingMethods %}
            <option {% if request.GET.sortowanie == method.value %}selected{% endif %} value={{ method.value }}> {{ method.description }} </option>
          {% endfor %}

        </select>
        <input class="btn btn-primary btn-lg" type="submit" value="Wyślij!">
      </form>
    </div>
  {% else %}
    <h3>Brak testów do wyświetlenia</h3>
  {% endif %}
{% endblock %}
