{% extends 'users/base.html' %}
{% load static %}

{% block title %}Ułatwiaczek - logowanie{% endblock %}

{% block content %}
  <img src="{% static 'images/napis.png' %}" alt="">
  <form class="login" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Login:" required autofocus>
    <input type="password" name="password" placeholder="Hasło:" required>
    <input class="button" type="submit" value="Zaloguj">
  </form>
{% endblock %}
