{% extends 'users/base.html' %}
{% load static %}
{% block title %}Ułatwiaczek - rejestracja{% endblock %}
{% block content %}
  <h1>Zarejestruj się!</h1>
  <form class="register" method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Login:" required autofocus>
    <input type="text" name="email" placeholder="Email:" required autofocus>
    <input type="password" name="password" placeholder="Hasło:" required>
    <input type="password" name="passwordrep" placeholder="Powtórz hasło:" required>
    <input type="text" name="Imie" placeholder="Imię:" required autofocus>
    <input class="button" type="submit" value="Zarejestruj">
  </form>
{% endblock %}
