{% extends "base.html" %}
{% block contentTitle %} Lista wszystkich dodanych testów {% endblock %}
{% block customStyles %} 
    #testy {
        border-right: 6px solid #e74c3c;
    }
{% endblock %}
{% block content %}
  {% if testy %}
    <h3>Znaleziono {{ iloscTestow }} test/y</h3>
    <table class="table">
        <tr>
          <th>ID w bazie</th>
          <th>Przedmiot</th>
          <th>Temat</th>
          <th>Ilość zadań</th>
          <th>Maksymalna ilość punktów</th>
          <th>Data dodania</th>
          <th>Data edytowania</th>
          <th>Działania</th>
        </tr>
      {% for test in testy %}
        <tr>
          <td>{{ test.id }}</td>
          <td>{{ test.przedmiot }}</td>
          <td>{{ test.temat }}</td>
          <td>{{ test.ilosc_zadan }}</td>
          <td>{{ test.maks_ilosc_punktow }}</td>
          <td>{{ test.data_dodania }}</td>
          <td>{{ test.data_edytowania }}</td>
          <td>
            <a role="button" href="{% url 'test_szczegoly' id=test.id %}" class="btn btn-info">Szczegóły</a>
            <a role="button" href="{% url 'test_edytuj' id=test.id %}" class="btn btn-success">Edytuj</a>
            <a role="button" href="{% url 'test_usun' id=test.id %}" class="btn btn-danger">Usuń</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div aria-label="Page navigation example">
      <ul class="pagination pagination-lg">

        {% if testy.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?strona=1" aria-label="Pierwsza Strona">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <span class="sr-only">Pierwsza</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.previous_page_number }}" aria-label="Poprzednia Strona">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak wcześniejszych stron">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <span class="sr-only">Pierwsza</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak wcześniejszych stron">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
        {% endif %}

        {% for page in testy.paginator.page_range %}
          {% if page|add:0 == request.GET.strona|add:0 %}
            <li class="page-item active"><a class="page-link" href="?strona={{page}}">{{page}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?strona={{page}}">{{page}}</a></li>
          {% endif %}
        {% endfor %}
        
        {% if testy.has_next %}
          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.next_page_number }}" aria-label="Następna Strona">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Następna</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.paginator.num_pages }}" aria-label="Ostatnia Strona">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span class="sr-only">Ostatnia</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak dalszej strony">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>

          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak dalszej strony">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>
  {% else %}
    <h3>Brak testów do wyświetlenia</h3>
  {% endif %}
{% endblock %}