{% extends "base.html" %}
{% block contentTitle %} Lista wszystkich dodanych testów {% endblock %}
{% block customStyles %} 
    #testy {
        border-right: 6px solid #e74c3c;
    }
{% endblock %}
{% block content %}
  {% if testy %}
    <h3>Znaleziono {{ iloscTestow }} test/y</h3>
    <table class="table">
        <tr>
          <th>ID w bazie</th>
          <th>Przedmiot</th>
          <th>Temat</th>
          <th>Ilość zadań</th>
          <th>Maksymalna ilość punktów</th>
          <th>Data dodania</th>
          <th>Data edytowania</th>
          <th>Działania</th>
        </tr>
      {% for test in testy %}
        <tr>
          <td>{{ test.id }}</td>
          <td>{{ test.przedmiot }}</td>
          <td>{{ test.temat }}</td>
          <td>{{ test.ilosc_zadan }}</td>
          <td>{{ test.maks_ilosc_punktow }}</td>
          <td>{{ test.data_dodania }}</td>
          <td>{{ test.data_edytowania }}</td>
          <td>
            <a role="button" href="{% url 'test_szczegoly' id=test.id %}" class="btn btn-info">Szczegóły</a>
            <a role="button" href="{% url 'test_edytuj' id=test.id %}" class="btn btn-success">Edytuj</a>
            <a role="button" href="{% url 'test_usun' id=test.id %}" class="btn btn-danger">Usuń</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h3>Brak testów do wyświetlenia</h3>
  {% endif %}
{% endblock %}