{% extends "base.html" %}
{% block contentTitle %} Lista wszystkich dodanych testów {% endblock %}
{% block customStyles %} 
    #testy {
        border-right: 6px solid #e74c3c;
    }
{% endblock %}
{% block content %}
  <div id="alert"></div>
  {% if testy %}
    <h3>Znaleziono {{ iloscTestow }} test/y</h3>
    <table class="table">
        <tr>
          <th>ID w bazie</th>
          <th>Przedmiot</th>
          <th>Temat</th>
          <th>Ilość zadań</th>
          <th>Maksymalna ilość punktów</th>
          <th>Data dodania</th>
          <th>Data edytowania</th>
          <th>Działania</th>
        </tr>
      {% for test in testy %}
        <tr>
          <td>{{ test.id }}</td>
          <td>{{ test.przedmiot }}</td>
          <td>{{ test.temat }}</td>
          <td>{{ test.ilosc_zadan }}</td>
          <td>{{ test.maks_ilosc_punktow }}</td>
          <td>{{ test.data_dodania }}</td>
          <td>{{ test.data_edytowania }}</td>
          <td>
            <a role="button" href="{% url 'test_szczegoly' id=test.id %}" class="btn btn-info">Szczegóły</a>
            <a role="button" href="{% url 'test_edytuj' id=test.id %}" class="btn btn-success">Edytuj</a>
            <a role="button" href="#" class="btn btn-danger btn-delete" onclick="return usunTest('{% url 'test_usun' id=test.id %}')">Usuń</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% if testy.paginator.num_pages > 1 %}
    <div aria-label="Page navigation example">
      <ul class="pagination pagination-lg">

        {% if testy.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?strona=1{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Pierwsza Strona">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <span class="sr-only">Pierwsza</span>
            </a>`
          </li>
          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.previous_page_number }}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Poprzednia Strona">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak wcześniejszych stron">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <span class="sr-only">Pierwsza</span>
            </a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak wcześniejszych stron">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Poprzednia</span>
            </a>
          </li>
        {% endif %}

        {% for page in testy.paginator.page_range %}
          {% if page|add:0 == request.GET.strona|add:0 %}
            <li class="page-item active"><a class="page-link" href="?strona={{page}}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie}}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}">{{page}}</a></li>
          {% elif page|add:0 == 1 and not request.GET.strona %}
            <li class="page-item active"><a class="page-link" href="?strona=1{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie}}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}">{{page}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?strona={{page}}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie}}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}">{{page}}</a></li>
          {% endif %}

        {% endfor %}
        
        {% if testy.has_next %}
          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.next_page_number }}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Następna Strona">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Następna</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="?strona={{ testy.paginator.num_pages }}{% if request.GET.sortowanie %}&sortowanie={{ request.GET.sortowanie }}{% endif %}{% if request.GET.ilosc %}&ilosc={{ request.GET.ilosc|add:0 }}{% endif %}" aria-label="Ostatnia Strona">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span class="sr-only">Ostatnia</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak dalszej strony">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>

          <li class="page-item disabled">
            <a class="page-link" href="?strona=#" aria-label="Brak dalszej strony">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>
    <div>
      
      <form class="form-inline" method="GET" action="">
        {% if request.GET.strona %}
        <input type="hidden" name="strona" value="{{ request.GET.strona|add:0 }}">
        {% endif %}
        {% if request.GET.sortowanie %}
        <input type="hidden" name="sortowanie" value="{{ request.GET.sortowanie|add:0 }}">
        {% endif %}
        {% if request.GET.ilosc %}
        <input type="hidden" name="ilosc" value="{{ request.GET.ilosc|add:0 }}">
        {% endif %}
        <p>Ilośc testów na stronę: </p>
        <label class="sr-only" for="selectCount">Ilość testów na stronę</label>
        <select class="custom-select form-control-lg" name="ilosc" id="selectCount">
          <option selected value="10">Wybierz ilość testów na strone...</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Wyślij">
      </form>
      
    </div>
    {% endif %}
    <form class="form-inline" method="GET" action="">
        {% if request.GET.strona %}
        <input type="hidden" name="strona" value="{{ request.GET.strona|add:0 }}">
        {% endif %}
        {% if request.GET.sortowanie %}
        <input type="hidden" name="sortowanie" value="{{ request.GET.sortowanie|add:0 }}">
        {% endif %}
        {% if request.GET.ilosc %}
        <input type="hidden" name="ilosc" value="{{ request.GET.ilosc|add:0 }}">
        {% endif %}
        <p>Jak chcesz posortować: </p>
        <label class="sr-only" for="sortBy">Sortuj</label>
        <select class="custom-select form-control-lg" name="sortowanie" id="sortBy">
          <option value="-data_dodania" selected>Wybierz opcje sortowania...</option>
          <option value="ilosc_zadan">Ilość zadań (rosnąco)</option>
          <option value="-ilosc_zadan">Ilość zadań (malejąco)</option>
          <option value="maks_ilosc_punktow">Maksymalna ilość punktów (rosnąco)</option>
          <option value="-maks_ilosc_punktow">Maksymalna ilość punktów (malejąco)</option>
          <option value="temat">Temat (rosnąco)</option>
          <option value="-temat">Temat (malejąco)</option>
          <option value="data_dodania">Data dodania (rosnąco)</option>
          <option value="-data_dodania">Data dodania (malejąco) </option>
          <option value="data_edytowania">Data edytowania (rosnąco)</option>
          <option value="-data_edytowania">Data edytowania (malejąco)</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Sortuj">
      </form>
  {% else %}
    <h3>Brak testów do wyświetlenia</h3>
  {% endif %}
{% endblock %}