{% extends 'users/base.html' %}
{% load static %}
{% block title %}Ułatwiaczek - rejestracja{% endblock %}
{% block content %}
  <h1>Zarejestruj się!</h1>
  {% if register_error %}
    <h3>Błąd podczas rejestracji!</h3>
  {% endif %}
  <form class="login" method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    {% for field in register_form %}
    <label for="{{field.id_for_label}}">{{ field.label }}. {{ field.help_text|safe }}</label>
    {{ field }}

    {% endfor %}
    <input class="button" type="submit" value="Zarejestruj">
  </form>
{% endblock %}
