.content {
  flex-basis: 85%;
  height: 100%;
  padding: 0 2.5%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: lighten($baseBlueLighter, 25%);

  .title {
    display: flex;
    align-items: center;
    height: 11%;
    padding-left: 1rem;
    font-size: 2rem;
  }

  .display {
    margin-bottom: 1rem;
    padding-top: 0.6rem;
  }
}
