nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  flex-basis: $navWidth;
  flex-shrink: 0;
  background-color: $baseBlueLight;
  ul {
    width: 100%;
    padding: 1rem 0;
    margin: 0;
  }
  .showDropdown {
    display: block;
  }
  ol {
    display: none;
    li {
      background-color: $baseBlueDark;
      padding-left: 20px;
      &:hover {
        background-color: $baseBlueDarker;
      }
      a {
        padding: 0.5rem 0 0.5rem 1rem;
      }
    }
    li:not(:last-child) {
      border-bottom: 1px solid $baseBlueDarker;
    }
  }
  li {
    width: 100%;
    &:hover {
      background-color: $baseBlue;
    }

    a {
      display: block;
      padding: 1.5rem 0 1.5rem 1rem;
      text-decoration: none;
      font-size: 1.5rem;
      color: #fff;
      &:link,
      &:active {
        color: #fff;
      }
      &:hover {
        cursor: pointer;
      }
      span.ikona {
        padding-right: 0.5rem;
      }
      span.rozwin {
        padding-left: 0.5rem;
      }
    }
  }

  li.logout {
    &:hover {
      background-color: $red;
    }
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 90%;
    }
  }
}
/*
nav.main {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  height: 100%;
  padding-top: 1.5%;
  background-color: #3292d2;

  ul {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;

    li {
      display: flex;
      height: 12vh;

      &:hover{
        background-color: #1c7bb9;
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-left: 16px;
        font-size: 1.5vw;
        text-decoration: none;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }
      ol {
        display: none;
      }
    }
  }
  .showDropdown {
    display: flex;
  }
  .drop_down {
    display: none;
    height: 12vh;

    li {
      display: flex;
      height: 12vh;
      padding-left: 24px;
      background-color: #183450;

      &:hover {
        background-color: #072340;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    height: 10%;

    img {
      justify-content: center;
      align-items: center;
      max-width: 90%;
      max-height: 100%;
    }
  }
}
*/
