table {

    th {
        background-color: $baseBlueLight;
        color: #fff;
    }
    td {
        vertical-align: middle;
    }
    td:last-child {
        display: flex;
        justify-content: space-around;
    }
}

label {
  // Wycentrowanie lebel'i bootstrap nie ogarniał nie wiem dlaczego ;_;
  display: inline;
}


@media screen and (max-width: 1250px) {
  table {
    display: block;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 4px;
        height: 8px;
        background-color: lightgray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $baseBlueDarker;
    }
  }
}