$baseBlue: #1c7bb9;
$baseBlueLight: lighten(#1c7bb9, 10%);
$baseBlueLighter: lighten(#1c7bb9, 25%);
$baseBlueDark: darken(#1c7bb9, 10%);
$baseBlueDarker: darken(#1c7bb9, 25%);
$red: #e74c3c;
$green: #36952C;
