.content {
  flex-basis: 85%;
  height: 100%;
  padding: 0 2.5%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #d9ecf1;

  .title {
    display: flex;
    align-items: center;
    height: 11%;
    padding-left: 1vw;
    font-size: 2rem;
  }

  .display {
    margin-bottom: 15px;
    padding-top: 10px;
  }
}
