.content {
  height: 100%;
  flex-basis: 85%;
  padding: 0 2.5%;
  background-color: #d9ecf1;
  overflow-y: scroll;
  overflow-x: hidden;



  .title {
    height: 11%;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  .display {

    margin-bottom: 15px;
    padding-top: 10px;
  }
}
