@import '_variables.scss';

// Globalne usuwanie marginesów i paddingu
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.container {
	height: 100vh;
	width: 100vw;
}

//Nadpisanie zaokrąglania krawędzi przycisków przez Bootstrapa
.btn {
	border-radius: 0;
}

//Nadpisanie zaokrąglania krawędzi selecta przez Bootstrapa
.custom-select {
	border-radius: 0;
}

//Nadpisanie zaokrąglania krawędzi alertu przez Bootstrapa
.alert {
	border-radius: 0;
}

//Nadpisanie podkreślania linków przy :hover i :focus przez Bootstrapa
a {
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}
}

@import "header";
@import "container";
