// Globalne usuwanie marginesów i paddingu
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.container {
	height: 100vh;
	width: 100vw;
}

header {
	display: flex;
	height: 12%;
	width: 100%;
	flex-direction: row;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 20%;
		background-color: #1c7bb9;

		img {
			max-width: 100%;
	    max-height: 90%;
			align-self: center;
		}
	}

	.message {
		display: flex;
		flex-basis: 60%;
		background-color: #183450;
		color: white;
		font-size: 3vw;
		padding-left: 1vw;
		justify-content: flex-start;
		align-items: center;
	}

	.logout {
		display: flex;
		flex-basis: 20%;
		background-color: #1c7bb9;
		color: white;
		font-size: 3vw;
		letter-spacing: 1px;
		justify-content: center;
		align-items: center;

		&:hover{
			background-color: #e74c3c;
		}
	}
}

main {
	height:88vh;
	width: 100%;
	display: flex;

	nav {
		display: flex;
		flex-direction: column;
		height: 100%;
		flex-basis: 20%;
		background-color: #3292d2;
		padding-top: 3vh;

		ul {
			height: 90%;
			width: 100%;
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				margin-bottom: 3vh;
				height: 12vh;

			&:hover{
				background-color: #1c7bb9;
			}

				a {
					display: flex;
					height: 100%;
					width: 100%;
					padding-left: 1rem;
					align-items: center;
					color: white;
					text-decoration: none;
					font-size: 2vw;

				}
			}
		}

		footer {
			display: flex;
			align-self: flex-end;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 10%;

			img {
				max-width: 90%;
		    max-height: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.content {
		height: 100%;
		flex-basis: 80%;
		padding: 0 3.5%;
		background-color: #d9ecf1;
		overflow-y: scroll;
		overflow-x: hidden;



		.title {
			height: 11%;
			padding-left: 1vw;
			display: flex;
			align-items: center;
			font-size: 2rem;
		}

		.display {
			background-color: #f1ecec;
			border: 1px solid #344c64;
			margin-bottom: 15px;
			padding: 1rem;
		}
	}
}
