{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %} Ulatwiaczek {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <style>
  {% block customStyles %} {% endblock %}
  </style>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo"></div>
      <div class="message">Witaj, {% spaceless %}{% block userName %} użytkowniku {% endblock %}{% endspaceless %}!</div>
      <div class="logout"><a href="{% url 'wylogowanie' %}">Wyloguj</a></div>
    </header>
    <main>
  <nav>
    <ul>
      <li id="stronaGlowna"><a href="{% url 'index_logged'%}"><span class="ikona"><i class="fa fa-bars" aria-hidden="true"></i></span> Strona główna</a></li>
      <li id="profil"><a href="#"><span class="ikona"><i class="fa fa-user-o" aria-hidden="true"></i></span> Profil</a></li>
      <li id="testy">
        <a class="dropdownButton" href="#">
          <span class="ikona"><i class="fa fa-clone" aria-hidden="true"></i></span> Testy
          <span class="rozwin"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </a>
        <ol>
          <li id="testyDodaj"><a href="{% url 'test_dodaj' %}"><span class="ikona"><i class="fa fa-plus" aria-hidden="true"></i></span>Dodaj</a></li>
          <li id="testyLista"><a href="{% url 'test_lista' %}"><span class="ikona"><i class="fa fa-list" aria-hidden="true"></i></span>Lista</a></li>
        </ol>
      </li>
      <li id="sprawdziany">
        <a class="dropdownButton" href="#">
          <span class="ikona"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></span> Sprawdziany
          <span class="rozwin"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
        </a>
        <ol>
          <li id="sprawdzianyDodaj"><a href="#"><span class="ikona"><i class="fa fa-plus" aria-hidden="true"></i></span>Dodaj</a></li>
          <li id="sprawdzianyLista"><a href="#"><span class="ikona"><i class="fa fa-list" aria-hidden="true"></i></span>Lista</a></li>
        </ol>
      </li>
    </ul>
    <footer>
      <img src="{% static 'images/napis.png' %}" alt="Napis">
    </footer>
  </nav>
  <div class="content">
    <div class="title">{% block contentTitle %}Tekst tekścik{% endblock %}</div>
    <div class="display">{% block content %} content {% endblock %}</div>
  </div>
</main>
  </div>
  <script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>
