{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Ulatwiaczek{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo"><img src="../static/images/logo.png" alt="Logo"></div>
      <div class="message">Witaj, {% block name %}użytkowniku{% endblock %}!</div>
      <div class="logout">Wyloguj</div>
    </header>
    <main>
      <nav>
        <ul>
          <li><a href="#">Strona główna</a></li>
          <li><a href="#">Profil</a></li>
          <li><a href="#">Testy</a></li>
          <li><a href="#">Sprawdziany</a></li>
        </ul>
        <footer>
          <img src="../static/images/napis.png" alt="">
        </footer>
      </nav>
      <div class="content">
          <div class="title">{% block contentTitle %}Tekst tekścik{% endblock %}</div>
          <!-- Przy użyciu Emmeta można przetestować scrollowanie contentu naciskając tab przy 'lorem600'-->
          <div class="display">{% block content %} lorem600 {% endblock %}</div>
      </div>
    </main>
  </div>
</body>
</html>
