{% extends "login.html" %}
{% block stats %}
<div id="triangle"></div>
<div class="wrapper">

  <div class="data">
    <h1>W naszej bazie jest:</h1>
    <ul>
      <li>{{ iloscTestow }} testów,</li>
      <li>{{ iloscPrzedmiotow }} przedmiotów.</li>
      <li>{{ iloscTestow }} testów,</li>
      <li>{{ iloscPrzedmiotow }} przedmiotów.</li>
      <li>{{ iloscTestow }} testów,</li>
      <li>{{ iloscPrzedmiotow }} przedmiotów.</li>
      <li>{{ iloscTestow }} testów,</li>
      <li>{{ iloscPrzedmiotow }} przedmiotów.</li>
      <li>{{ iloscTestow }} testów,</li>
      <li>{{ iloscPrzedmiotow }} przedmiotów.</li>
    </ul>
  </div>
  <div class="pane">
    <h1>Nad projektem pracują:</h1>
    <div class="info">
      <div class="profiles"><img src="https://github.com/Dawiducik.png" alt="">Dawid Rzeszutek <a href="https://github.com/Dawiducik" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
      <div class="profiles"><img src="https://yt3.ggpht.com/-hZvE9xuvJOY/AAAAAAAAAAI/AAAAAAAAAAA/Xgmp3UQ-tHo/s100-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="">Dominik Zboch</div>
      <div class="profiles"><img src="https://github.com/Marucik.png" alt="">Marcin Rakoczy <a href="https://github.com/Marucik" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
    </div>
  </div>

</div>
{% endblock %}
